<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wy.study.druid.dao.DeviceMapper">


    <resultMap id="resultMap" type="com.wy.study.druid.domain.DeviceDO">
        <id column="id" property="id"/>
        <result column="nickname" property="nickname"/>
        <result column="terminal_type" property="terminalType"/>
        <result column="device_serial_no" property="deviceSerialNo"/>
        <result column="company_id" property="companyId"/>
        <result column="is_del" property="isDel"/>
        <result column="addtime" property="addtime"/>
        <result column="modtime" property="modtime"/>
        <result column="admin_num" property="adminNum"/>
        <result column="ver" property="ver"/>
    </resultMap>

    <sql id="tableName">
        hardware.device_cp
    </sql>

    <sql id="allColumn">
        id,
        nickname,
        terminal_type,
        device_serial_no,
        company_id,
        is_del,
        addtime,
        modtime,
        admin_num,
        ver
    </sql>


    <insert id="batchInsert" useGeneratedKeys="true" keyColumn="id" keyProperty="id">

      INSERT INTO
       <include refid="tableName"/>
        (
          <include refid="allColumn"/>
        ) 
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            null,
            #{item.nickname},
            #{item.terminalType},
            #{item.deviceSerialNo},
            #{item.companyId},
            #{item.isDel},
            unix_timestamp(),
            unix_timestamp(),
            #{item.adminNum},
            #{item.ver}
            )
        </foreach>
        
    </insert>



    <update id="updateDevice">
        UPDATE hardware.device_cp
        SET modtime = unix_timestamp()
        <if test='nickname != null'>
            , nickname = #{nickname}
        </if>
        <if test='status != null'>
            , status = #{status}
        </if>
        <if test='companyId != null '>
            , company_id = #{companyId}
        </if>
        <if test='token != null'>
            , token = #{token}
        </if>
        <if test='activate != null'>
            , activate=#{activate}
        </if>
        WHERE device_serial_no = #{item.deviceSerialNo}
        AND is_del =0
    </update>

    <update id="batchUpdateDeviceVersion">
        update hardware.device_cp
        set modtime = unix_timestamp(),
        ver = #{item.version}
        where device_serial_no in
        <foreach collection="serialDeviceNos" item="item" index="index" separator="," open="(" close=")">
            #{item}
        </foreach>
    </update>
</mapper>